@page
@model TintinsChatroom.UI.Pages.User.SpecificRoomModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3 text-light">@Model.RoomModel.ChatRoomName</h1>
            @foreach (var message in Model.RoomModel.Messages)
            {
                <h4>@message</h4>
            }

            <form method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" asp-for="@Model.MessageModel.Message">Message</label>
                    <textarea asp-for="@Model.MessageModel.Message" class="form-control bg-transparent text-light" style="height:100px; width:250px;"></textarea>
                    <span asp-validation-for="@Model.MessageModel.Message" class="text-danger"></span>
                    <a hidden asp-route-id="@Model.RoomModel.ChatRoomId"></a>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-light">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>